a {
  color: black;
  text-decoration: none;
}

button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.mb--10 {
  margin-bottom: -10px;
}

.pd-20 {
  padding: 20px;
}

.navbar a {
  margin-right: 20px;
}

.coin-button-container,
.dice-button-container,
.rps-button-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.coin-button-container button {
  flex: 1;
  max-width: 50px;
  margin-right: 10px;
}

.dice-button-container button {
  flex: 1;
  max-width: 30px;
  margin-right: 10px;
}

.rps-button-container button {
  flex: 1;
  max-width: 70px;
  margin-right: 10px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.purple {
  color: purple;
}
