a {
  color: black;
  text-decoration: none;
}

.navbar a {
  margin-right: 20px;
}

.pd-20 {
  padding: 20px;
}

.mb--10 {
  margin-bottom: -10px;
}

.coin-button-container,
.dice-button-container,
.rps-button-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.coin-button-container button {
  flex: 1;
  max-width: 50px;
  margin-right: 10px;
}

.dice-button-container button {
  flex: 1;
  max-width: 30px;
  margin-right: 10px;
}

.rps-button-container button {
  flex: 1;
  max-width: 70px;
  margin-right: 10px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.purple {
  color: purple;
}
